<div id="container">
    <h1>Products</h1>
    <table>
        <thead>
            <th>Id</th>
            <th>Name</th>
            <th>Category</th>
            <th>Price</th>
            <th>Details</th>
            <th>Delete</th>
        </thead>
        <tbody>
            <tr *ngFor="let product of products">
                <td>{{ product.id }}</td> 
                <td>{{ product.name }}</td> 
                <td>{{ product.category }}</td> 
                <td>{{ product.price }}</td> 
                <td><a routerLink="/products/{{ product.id }}">Details...</a></td>
                <td class="delete-button" (click)="deleteProduct(product.id)">DELETE</td>
            </tr>
        </tbody>
    </table>
</div>
