.mat-column-id,
.mat-column-name,
.mat-column-category,
.mat-column-price,
.mat-column-details {
  padding-left: 12px;
  padding-right: 12px;
}

.delete-button {
  background-color: rgb(220, 50, 50);
  color: white;
  cursor: pointer;
  text-align: center;
}
