<div id="container">
    <h1 id="title">Cart</h1>
    <table id ="content">
        <thead>
            <th>Product Id</th>
            <th>Quantity</th>
            <th>Details</th>
        </thead>
        <tbody>
            <tr *ngFor="let order of orders">
                <td>{{ order.productId }}</td>
                <td>{{ order.quantity }}</td>
                <td><a routerLink="/products/{{ order.productId }}">Details...</a></td>
            </tr>
        </tbody>
    </table>
    <span id="checkout" (click)="checkout()">Checkout</span>
</div>