#container {
    display: grid;
    grid-template-areas:
        "title"
        "content";
    grid-template-rows: auto 1fr auto;
    width: 300px;
    padding: 6px;
    row-gap: 4px;
    border: 2px solid gray;
    border-radius: 10px;
}

#title {
    grid-area: title;
    text-align: center;
    margin: 0;
    padding: 6px;
    background-color: lightblue;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#content {
    grid-area: content;
}

table, td, th {
    border: 2px solid black;
    border-collapse: collapse;
}

#checkout {
    padding: 6px;
    background-color: lightgreen;
    text-align: center;
    cursor: pointer;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
