#container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#navbar {
  display: flex;
  justify-content: space-around;

  margin-bottom: 30px;
  padding: 10px;

  box-shadow: 0 3px 3px 3px lightgray;
}

#content {
  display: flex;
  justify-content: center;
}

a {
  color: white;
}
