#container {
    border: 2px solid gray;
    border-radius: 10px;
    padding: 10px;
    width: 256px;
    display: grid;
    grid-template:
        "image"
        "details";
    grid-template-rows: auto 1fr;
    box-shadow: 0 3px 3px 3px lightgray;
}

#image-container {
    grid-area: image;
    display: flex;
    justify-content: center;
}

#image {
    margin: 10px;
    max-width: 100%;
    max-height: 100%;
    grid-area: image;
    border: 2px solid gray;
    border-radius: 12px;
}

#details-container {
    display: grid;
    grid-template:
        "id-label id-value"
        "name-label name-value"
        "category-label category-value"
        "description-label description-value";
    grid-template-columns: auto 1fr;
    grid-template-rows: repeat(4, 30px);
}

#id-label {
    grid-area: id-label;
    padding: 4px;
}

#id-value {
    grid-area: id-value;
    padding: 4px;
}

#name-label {
    grid-area: name-label;
    padding: 4px;
}

#name-value {
    grid-area: name-value;
    padding: 4px;
}

#name-value {
    grid-area: name-value;
    padding: 4px;
}

#category-label {
    grid-area: category-label;
    padding: 4px;
}

#category-value {
    grid-area: category-value;
    padding: 4px;
}

#description-label {
    grid-area: description-label;
    padding: 4px;
}

#description-value {
    grid-area: description-value;
    padding: 4px;
}