#container {
  border: 2px solid gray;
  border-radius: 10px;
  padding: 10px;
  width: 300px;
  display: grid;
  grid-template:
    "name-image"
    "details"
    "button-container";
  grid-template-rows: auto auto 1fr;
  box-shadow: 0 3px 3px 3px lightgray;
}

////////////////////////////////////////
// Name/Image container
////////////////////////////////////////

#name-image-container {
  grid-area: name-image;
  margin-bottom: 0;
  display: grid;
  grid-template:
    "name"
    "image";
  grid-template-rows: 50px 1fr;
  border: 2px solid gray;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#name {
  grid-area: name;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#image-container {
  grid-area: image;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

img {
  max-width: 100%;
  max-height: 100%;
}

////////////////////////////////////////
// Details container
////////////////////////////////////////

#details-container {
  grid-area: details;
  margin: 10px 0;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: repeat(3, 30px), auto;
}

#details-container span {
  padding: 4px;
}

////////////////////////////////////////
// Button container
////////////////////////////////////////

#button-container {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  row-gap: 4px;
}

#button-container:last-child {
  color: yellow;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
